<div class="card bg-base-100 gap-3 w-4l mx-auto flex flex-col p-6 items-center rounded-xl shadow-xl text-center">
  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-exclamation-triangle-fill w-16 h-16 text-warning mb-4" viewBox="0 0 24 24">
    <path d="M8.982 1.566a1.5 1.5 0 0 0-2.964 0L.165 13.233A1.5 1.5 0 0 0 1.5 15h13a1.5 1.5 0 0 0 1.335-2.767L8.982 1.566zM7.002 6a1 1 0 1 1 2 .001v3a1 1 0 1 1-2-.001V6zm1.002 6a1.002 1.002 0 1 1 .001-2.004A1.002 1.002 0 0 1 8.004 12z"/>
  </svg>
  <h1 class="card-title text-4xl justify-center">Oops! Page Not Found</h1>
  <p class="card-body text-xl text-center">
    The page you are looking for might have been removed,<br>
    had its name changed, or is temporarily unavailable.
  </p>
  <button class="btn btn-primary" routerLink="/">Go Back Home</button>
</div>