<div class="hero bg-base-200 min-h-screen">
    @if (!registerMode) {
    <div class="hero-content text-center">
        <div class="flex flex-col items-center" >
                <h1 class="text-5xl font-bold">Find your match</h1>
                <p class="py-6">Come on into view yout matches... all you need to do is sign up!</p>
                <br>
                <div class="flex items-center gap-3">
                    <a (click)="registerToggle()" class="btn btn-primary btn-lg me-2" routerLink="/register">Sign Up</a>
                    <a class="btn btn-secondary btn-lg me-2" routerLink="/login">Learn more</a>
                </div>
            </div>
        </div>
    }@else {
        <div class="w-full text-2xl text-center flex justify-center">
            <app-register class="w-full" (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    }
</div>