<div class="container mt-5">
    <div style="text-align: center;">

        @if (!registerMode) {
            <h1>Welcome to the DatingApp</h1>
            <p class="lead">Come on into view yout matches... all you need to do is sign up!</p>
            <br>
            <div class="text-center">
                <a (click)="registerToggle()" class="btn btn-primary btn-lg me-2" routerLink="/register">Sign Up</a>
                <a class="btn btn-secondary btn-lg me-2" routerLink="/login">Learn more</a>
            </div>
        }@else {
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-4">
                        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                    </div>
                </div>
            </div>
        }

    </div>
</div>