<div class="flex justify-center gap-3 pt-10">
    <button class="btn btn-neutral me-3" (click)="get400Error()">Test 400 Error</button>
    <button class="btn btn-accent me-3" (click)="get401Error()">Test 401 Error</button>
    <button class="btn btn-secondary me-3" (click)="get404Error()">Test 404 Error</button>
    <button class="btn btn-success me-3" (click)="get500Error()">Test 500 Error</button>
    <button class="btn btn-info me-3" (click)="get400ValidationError()">
        Test Validation Error
    </button>

    @if (validationErrors.length > 0) {
        <div class="row mt-5">
            <h2>Validation Errors</h2>
            <ul class="text-danger">
                @for (error of validationErrors; track $index) {
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }
</div>
